<nav class="navbar navbar-dark bg-roxo">
  <a href="/" class="navbar-brand"> GuiaPress </a>

  <ul class="navbar nav">
    <li class="nav-item">
      <a href="/admin/categories" class="nav-link text-light">Categorias</a>
    </li>
    <li class="nav-item">
      <a href="/admin/articles/new" class="nav-link text-light">Artigos</a>
    </li>
  </ul>
</nav>
