body {
  background-color: #eceff1;
}

.container {
  padding-top: 20px;
}

button,
a:not(nav a) {
  margin-block: 20px;
}

a {
  text-decoration: none !important;
}

label {
  margin-bottom: 10px;
}
nav {
  padding-left: 30px;
}

.bg-roxo {
  background-color: #563d7c;
  color: white;
}
input {
  margin-block: 10px;
}
